*.iml
*.classpath
*.project
.idea/
target/
logs/
.settings/
.project
.classpath
*.log
mvnw
mvnw.cmd
.mvn

npm-debug.log
node_modules
.project
.vscode
.history
.DS_Store
\.settings/
build/env.js

maven_temp/
temp_output/
*.db
.DS_Store
code_output/
tableModel/
molicode_repos/